
	<body id="community-body">
		<div id="community-background">	</div>
			<div id="user-card">
				<div id="avatar">
					<img src = "<%= @profiles.avatar %>" width="100px" height= "100px" />
				</div>
				<div id="username"><%= @user.fname %></div>
			</div>
			<div id="welcome">
				<h3>Welcome Back  <%= @user.fname %> </h3>
			</div>
				<div id="latestposts">
			<p>Here is your latest posts:</p>

	<div id="test">
	<% @posts.each do |post| %>
  	<p class="comment"><%= post.comment %></p>
	<% end %>
	</div>
	
		</div>
	
		<div id="log_out_button">
			<button>Log Out</button>
		</div>
	</body>