<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="../public/css/micro.css">
		<title>Community</title>
	</head>
	<body id="community-body">
		<div id="community-background">
			<div id="user-card">
				<div id="avatar"></div>
				<div id="username"></div>
			</div>
			<div id="welcome">
				<h1>Welcome Back  <%= @user.fname %> </h1>
			</div>
				<div id="latestposts">
			<p>Latest Posts:</p>
		</div>
		</div>
		<div id="log_out_button">
			<button>Log Out</button>
		</div>
	</body>
</html>