<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="../public/css/micro.css">
		<title>Community</title>
	</head>
	<body id="community-body">
		<div id="community-background">
			<div id="user-card">
				<div id="avatar"></div>
				<div id="username"></div>
			</div>
			<div id="welcome">
				<h1>Welcome Back</h1>
			</div>
		</div>
	
	</body>
</html>