<div id="delete_form" class="container">
	<form action="/delete" method="POST">
		<fieldset>
			<input id="deletehidden" type="hidden" name="destory">
			<label name="delete"> Are you sure?</label>
			<input type="submit" value="Delete">
		</fieldset>
	</form>
</div>