<div id="delete_form" class="container">
	<form action="/delete" method="post/">
		<fieldset>
			<input id="deletehidden" type="hidden" name="_method" value="delete">
			<input type="text" name="comment">
			<input type="submit" value="Delete">
		</fieldset>
	</form>
	
</div>