
	<body id="community-body">
		<div id="community-background">
			<div id="edit-banner">
				<p>Edit your profile here!</p>
			</div>
			<div>
				<form action="/edit" method="post">
					Type your new name!
 					<input type="text" name="newname">
 					<input type="submit" value="submit">
				</form>
			</div>
		</div>

	</body>