<!-- you would build out a form with the text that already exists in the post  -->
and then have a submit button to do a patch method for the form to the url /posts/:id

make sure in your form you have the name content for your NEW comment

	<body id="community-body">
		<div id="community-background"></div>
		<div id="profile-avatar">
				<img src="<%= @profile.avatar %>" width="100%" height= "100%">
			</div>
		<div id="profile-user">
			<p><%= @user.fname %></p>
		</div>

		<form class="new_post" method="POST" action="/editpost">
		  <label for="text">Edit your post here</label>
		  <textarea name="comment_text"><%= comment %></textarea>
		  <input type="submit">
		</form>


		<div id="log_out_button">
			<button>Log Out</button>
		</div>
		<div id="edit-button">
			<button>Edit Profile</button>
		</div>
		<div id="delete-button">
			<button>Delete Profile</button>
		</div>

		<br>
		<br>
		<br>
		<br>
		<div id="test">
			<% @posts.each do |post| %>
  			<p class="comment"><%= post.comment %></p>
<!--   			Create a link called edit with the post id in the link to go to something like /post/:id/edit -->			<% end %>
		</div>
		<script type="text/javascript" src="../public/script.js"></script>
	</body>