
	<body id="community-body">
		<div id="community-background">
			<div id="edit-banner">
				<p>Edit your profile here!</p>
			</div>
			<div>

				<button><a href="/delete">Delete Profile</a></button>	
			</div>
		</div>

	</body>