<div id="login-box">
  <div id="login-message" class="row">
  	<p>If you have an account, please log in!</p>
  	<p>If you do not have an account, sign up below!</p>
  </div>
  <div id="form" class="row">
  	<form method="POST" action="/login">
  		<input type="text" name="fname" value="First Name">
  		<br>
  		<input type="password" name="pwd" value="Password">
  		<br>
  		<input type="submit" name="login" value="Log In">
  	</form>
    <a href='/signup'><button name="new-account" value="Create New Account">Create new account</button></a>
  </div>
  </div>



<div class="container">
    <div class="row">
      <div class="twelve columns">

      <% if flash[:notice] %>
      <div class="flash notice">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
      </div>
    </div>
  </div>