<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../public/style.css">
		<title>Welcome!</title>
	</head>
	<body id="login-body">
		<div id="login-message">
			<h1>If you have an account, please log in!</h1>
			<h1>If you do not have an account, sign up below!</h1>
		</div>
		<div>
			<form>
				<input type="text" name="fname" value="First Name">
				<br>
				<input type="password" name="pwd" value="Password">
				<br>
				<input type="submit" name="login" value="Log In">
				<input type="submit" name="new-account" value="Create New Account">
			</form>
		</div>

	</body>
</html>