	<body id="community-body">
		<div id="community-background"></div>
		<div id="profile-avatar">
				<img src="<%= @profiles.avatar %>" width="100%" height= "100%">
			</div>
		<div id="profile-user">
			<p><%= @user.fname %></p>
		</div>


		<br>
		<br>
		<br>
		<br>
		<br>

		<div id="create_new_button">

			<button><a href="/newpost">Create a new post</a></button>
		</div>
		<div id="log_out_button">
			<button><a href="/logoutpage">Log Out</a></button>
		</div>
		<div id="edit-button">
			<button><a href="/edit">Edit Profile</a></button>
		</div>

		<br>
		<br>
		<br>
		<br>
		<div id="test">
			<div class="myposts">My Posts:</div>
			<% @posts.each do |post| %>
  			<p class="comment"><%= post.comment %></p>
<!--   			Create a link called edit with the post id in the link to go to something like /post/:id/edit -->			<% end %>
		</div>
		<script type="text/javascript" src="../public/script.js"></script>
	</body>