	<body id="community-body">
		<div id="community-background">
			<div id="profile-avatar"></div>
		</div>
		<div id="profile-user">
			<p>Username</p>
		</div>

		<div id="navbar">
			<div class="edit">Edit</div>
			<div class="delete">Delete</div>
		</div>

		<form method="POST" action="/community">
		  <label for="text">Post a comment here</label>
		  <textarea name="comment_text"></textarea>
		  <input type="submit">
		</form>


		<div id="log_out_button">
			<button>Log Out</button>
		</div>
		<div id="edit-button">
			<button>Edit Profile</button>
		</div>
		<div id="delete-button">
			<button>Delete Profile</button>
		</div>
		<script type="text/javascript" src="../public/script.js"></script>
	</body>