	<body id="community-body">
		<div id="community-background">
			<div id="profile-avatar"></div>
		</div>
		<div id="profile-user">
			<p>Username</p>
		</div>
		<div id="navbar">
			<div class="edit">Edit</div>
			<div class="delete">Delete</div>
		</div>
		<div id="log_out_button">
			<button>Log Out</button>
		</div>
		<script type="text/javascript" src="../public/script.js"></script>
	</body>