	<body id="community-body">
		<div id="community-background">
			<div id="profile-avatar">
				<img src="<%= @profiles.avatar %>" width="350px" height= "350px">
			</div>
		</div>
		<div id="profile-user">
			<p><%= @user.fname %></p>
		</div>

		<div id="log_out_button">
			<button>Log Out</button>
		</div>
		<div id="edit-button">
			<button>Edit Profile</button>
		</div>
		<div id="delete-button">
			<button>Delete Profile</button>
		</div>
		<div id="test">
			<% @posts.each do |post| %>
  			<p class="comment"><%= post.comment %></p>
			<% end %>
		</div>
		<script type="text/javascript" src="../public/script.js"></script>
	</body>