	<body id="community-body">
		<div id="community-background">
			<div id="profile-avatar"></div>
		</div>
		<div id="profile-user">
			<p>Username</p>
		</div>

		<div id="log_out_button">
			<button>Log Out</button>
		</div>
		<div id="edit-button">
			<button>Edit Profile</button>
		</div>
		<div id="delete-button">
			<button>Delete Profile</button>
		</div>
		<script type="text/javascript" src="../public/script.js"></script>
	</body>