<div id="login-box">
  <div id="signup-box">
   <div id="signup" class="row">
  	 <p>Please, sign up below!</p>
    </div>
    <div id="signupform" class="row">
  	 <form method="post" action="/signup">
  	 	<input type="text" name="fname" value="First Name">
  	 	<br>
  	 	<input type="password" name="pwd" value="Password">
  	 	<br>
  	 	<input type="submit" name="new-account" value="Create New Account">
  	 </form>
    </div>
  </div>
</div>



<div class="container">
    <div class="row">
      <div class="twelve columns">

      <% if flash[:notice] %>
      <div class="flash notice">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
      </div>
    </div>
  </div>