body{
	background-attachment: fixed;
	background-image: url("../Images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	width: 100%;
}

#login-message{
	font-size: 24;
}

#login-box{
	display: box;
	position: relative;
	width: 500px;
	background-color: pink;
	border-style: solid;
	border-width: 30px;
	border-color: pink;
	border-radius: 35px;
	left: 33%;
	top: 170px;
}

#community-body{
	background-attachment: fixed;
	background-image: url("../Images/community-background.png");
	background-size: cover;
	width: 100%;
}

#latestposts{
	position: absolute;
	left: 200px;
}

#user-card{
	background-color: skyblue;
	display: block;
	height: 150px;
	width: 300px;
	left: 250px;
	top: 50px;
	position: absolute;
	border-style: ridge;
	border-color: gold;
	border-radius: 20px;
}

#avatar{
	display: block;
	position: relative;
	height: 100px;
	width: 100px;
	border-style: solid;
	border-color: gray;
	left: 10px;
	top: 10px;
}

#username{
	display: block;
	position: relative;
	border-bottom: solid;
	width: 150px;
	left: 140px;
	bottom: 30px;

}

#community-background{
	display: block;
	position: fixed;
	width: 70%;
	height: 100%;
	background-color: pink;
	left: 15%;

}

#welcome{
	position: relative;
	left: 40%;
	top: 200px;
	color: white;
}

#log_out_button{
	position: absolute;
	right: 300px;
	top: 50px;
}

#latestposts{
	position: absolute;
	font-size: 48px;
	color: white;
	left: 10%;
	top: 300px;
}

#profile-avatar{
	position: absolute;
	display: block;
	height: 350px;
	width: 350px;
	border-color: grey;
	border-style: solid;
	top: 10px;
	left: 10px;
}

#profile-user{
	font-size: 48px;
	font-family: Arial;
	position: absolute;
	left: 40%;
}

#edit-button{
	position: absolute;
	right: 300px;
	top: 100px;
}

#delete-button{
	position: absolute;
	right: 300px;
	top: 150px;
}

#navbar{
	position: relative;
	float: right;
	right: 10px;
}

.comment{
	font-size: 24px;
	position: relative;
	left: 30%;
	display: inline-block;
	width: 70%;
	height: 200px;
	border-style: solid;
	border-color: grey;
	border-width: 2px;
}